include MANIFEST.in

include README.md
include LICENSE
include CONTRIBUTING.md

include codecov.yml
include tox.ini

recursive-include docs *.md *.svg

graft tests
prune bin

global-exclude *.py[co] __pycache__
